<!DOCTYPE html>
<html>

<head>
    <title>Visualizar Saldo</title>
</head>

<body>
    <h1>Visualizar Saldo</h1>
    <form action="{{ url_for('visualizar_saldo') }}" method="POST">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"><br><br>
        <input type="submit" value="Visualizar Saldo">
    </form>
    <a href="{{ url_for('pagina_usuario') }}">Voltar</a>
</body>

</html>